version: 2.1
orbs:
  node: circleci/node@5.0.0
  aws-cli: circleci/aws-cli@2.0.6
  eb: circleci/aws-elastic-beanstalk@2.0.1
jobs:
  build-frontend:
    docker: 
      - image: "cimg/base:stable"
    steps:
      - node/install
      - checkout
      - attach_workspace:
          at: ./udagram-frontend
      - run:
          name: Install frontend
          command: |
            npm run frontend:install
      - run:
          name: Build frontend
          command: |
            npm run frontend:build
      # persist build folder as we need it in the deploy job
      - persist_to_workspace:
          root: ./udagram-frontend
          paths: www/*

  build-backend:
    docker:
      - image: "cimg/base:stable"
    steps:
      - node/install
      - checkout
      - attach_workspace:
          at: ./udagram-api
      - run:
          name: Install backend
          command: |
            npm run backend:install
      - run:
          name: Build Backend
          command: |
            npm run backend:build
      # Persist into shared volume as we need it in the deploy job
      - persist_to_workspace:
          root: ./udagram-api
          paths:
            -  www/*
            

  deploy-frontend:
    docker:
      - image: "cimg/base:stable"
    steps:
      - checkout
      - attach_workspace:
          at: ./udagram-frontend
      - node/install
      - aws-cli/setup
      - run:
          name: Deploy Frontend
          command: |
            npm run frontend:deploy
  deploy-backend:
    docker:
      - image: "cimg/base:stable"
    steps:
      - checkout
      - attach_workspace:
          at: ./udagram-api
      - eb/setup
      - node/install
      - run:
          name: Deploy backend
          command: |
            # as eb/deploy has issues initializing with artifact folder
            # we need as workaround to init manually
            # as we configure an artifact folder path in the config file
            # we copy the local confgs instead of those created by eb init
            eb init udagram -p node.js -r $AWS_DEFAULT_REGION
            cp ./cd_configs/config.yml ./.elasticbeanstalk/config.yml
            eb deploy Udagram-env
workflows:
  udagram:
    jobs:
      - build-backend
      - deploy-backend:
          requires:
            - build-backend
      - build-frontend
      - deploy-frontend:
          requires:
            - build-frontend   
