version: 2.1
orbs:
  node: circleci/node@5.0.0
  aws-cli: circleci/aws-cli@2.0.6
  eb: circleci/aws-elastic-beanstalk@2.0.1
jobs:
  build-frontend:
    working_directory: ~/udagram-frontend
    docker: 
      - image: "cimg/base:stable"
    steps:
      - node/install
      - checkout
      - attach_workspace:
          at: ~/udagram/ui
      - run:
          name: Install frontend
          command: |
            npm run frontend:install
      - run:
          name: Build frontend
          command: |
            npm run frontend:build
      - persist_to_workspace:
          root: ~/udagram-frontend
          paths: ./www

  build-backend:
    working_directory: ~/udagram-api
    docker:
      - image: "cimg/base:stable"
    steps:
      - node/install
      - checkout
      - attach_workspace:
          at: ~/udagram-api
      - run:
          name: Install backend
          command: |
            npm run backend:install
      - run:
          name: Build Backend
          command: |
            npm run backend:ci
      - persist_to_workspace:
          root: ~/udagram-api
          paths: ./www

  deploy-frontend:
    docker:
      - image: "cimg/base:stable"
    steps:
      - attach_workspace:
          at: ~/udagram-frontend
      - node/install
      - checkout
      - aws-cli/setup
      - run:
          name: Deploy Frontend
          command: |
            aws s3 cp --recursive ./www s3://udagramweb/
workflows:
  udagram:
    jobs:
      - build-backend
      - eb/deploy:
          environment-name: Udagram-env
          app-dir: ~/udagram-api/www
          requires:
            - build-backend
      - build-frontend
      - deploy-frontend:
          requires:
            - build-frontend   
